apiVersion: v1
kind: Secret
metadata:
  name: {{ include "easyx.fullname" . }}-secrets
  labels:
    {{- include "easyx.labels" . | nindent 4 }}
type: Opaque
stringData:
  jwt-secret: {{ .Values.api.secrets.jwtSecret | quote }}
  database-url: {{ .Values.api.secrets.databaseUrl | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "easyx.fullname" . }}-blockchain-secrets
  labels:
    {{- include "easyx.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if .Values.blockchain.btc.rpcPassword }}
  btc-rpc-password: {{ .Values.blockchain.btc.rpcPassword | quote }}
  {{- end }}
  {{- if .Values.blockchain.ltc.rpcPassword }}
  ltc-rpc-password: {{ .Values.blockchain.ltc.rpcPassword | quote }}
  {{- end }}
  {{- if .Values.blockchain.eth.privateKey }}
  evm-private-key: {{ .Values.blockchain.eth.privateKey | quote }}
  {{- end }}
  {{- if .Values.blockchain.eth.mnemonic }}
  eth-mnemonic: {{ .Values.blockchain.eth.mnemonic | quote }}
  {{- end }}
  {{- if .Values.blockchain.tron.apiKey }}
  tron-api-key: {{ .Values.blockchain.tron.apiKey | quote }}
  {{- end }}
  {{- if .Values.blockchain.tron.privateKey }}
  tron-private-key: {{ .Values.blockchain.tron.privateKey | quote }}
  {{- end }}
  {{- if .Values.blockchain.tron.masterAddress }}
  tron-master-address: {{ .Values.blockchain.tron.masterAddress | quote }}
  {{- end }}
